header {
  display: flex;
  align-items: center;
  gap: 1.1rem;

  color: var(--content-primary);
  font-family: var(--ff-sora);
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;

  margin: 7.6rem 12rem 8.9rem;
}