@keyframes hideScreen {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

.hidden {
  animation-name: hideScreen;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes displayScreen {
  from {
    opacity: 0;
    z-index: -1;
  } to {
    opacity: 1;
    z-index: 1;
  }
}

.show {
  animation-name: displayScreen;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

@keyframes rotateBackground {
  33% { transform: rotate(90deg); }
  66% { transform: rotate(180deg); }
  100% { transform: rotate(260deg); }
}

@keyframes growUp {
  from {
    scale: 0;
  } to {
    scale: 1;
  }
}

@keyframes changeText {
  from {
    color: var(--background-primary);
  } to {
    color: var(--content-brand);
  }
}